name: Node TodoList Workflow
run-name: ${{github.actor}} is started jog
on: [push]

jobs:
  install-packages:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4

      - name: Install dependencies
        run: npm i

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: "node_modules"
          key: ${{runner.os}}-node-${{hashFiles('**/package-lock.json')}}

  build:
    runs-on: ubuntu-latest
    needs: install-packages
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: "node_modules"
          key: ${{runner.os}}-node-${{hashFiles('**/package-lock.json')}}

      - name: Build
        run: npm run build

  test:
    runs-on: ubuntu-latest
    needs: install-packages
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Restore cache node modules
        uses: actions/cache@v4
        with:
          path: "node_modules"
          key: ${{runner.os}}-node-${{hashFiles('**/package-lock.json')}}

      - name: Test
        run: npm run test
